<!DOCTYPE html>
<html class="h-full">

<head>
  <title>FiveTrial</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag 'application', media: 'all'%>
  <%= javascript_pack_tag 'application'%>
  <%= javascript_pack_tag 'showApplication'%>
</head>

<body class="h-full relative">
  <div @click="resetButton" id="controllerShow"  class="h-full flex flex-col ">
    <div>
      <%= render "shared/navbar" %>
    </div>
    <%= yield %>
  </div>
</body>

</html>